.bg-primary {
    background-color: #01B075;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

a {
    text-decoration: none;
    color: #000;
    ;
    cursor: pointer;
}

body {
    font-size: 13px;
    min-width: 1024px !important;
    /* min-height: 768px !important; */
    margin: 0;
    background-color: #E5E5E5;
    z-index: -10;
    font-family: 'notosans-bold';
    color: turquoise !important;
}

@font-face {
    font-family: 'notosans-bold';
    src: url('../../font/notosans-bold.3ede5aff.woff2') format('opentype');
}

@font-face {
    font-family: 'notosans-italic';
    src: url('../../font/notosans-italic.1c1aaac9.woff2') format('opentype');
}

@font-face {
    font-family: 'notosans-regular';
    src: url('../../font/notosans-regular.2cb88a13.woff2') format('opentype');
}

@font-face {
    font-family: 'notosans-semibold';
    src: url('../../font/notosans-semibold.df3e6dc4.woff2') format('opentype');
}


/* @font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../../font/GoogleSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../../font/GoogleSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('../../font/GoogleSans-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-BoldItalic';
    src: url('../../font/GoogleSans-BoldItalic.otf') format('opentype');
} */